# **Import LIBs**

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

# Data -- Gen

In [18]:
data = pd.DataFrame({
    'Age' : [25, 30, None, 45, 50, None, 65],
    'Blood Pressure' : [120, 130, 110, None, 140, 145, None],
    'Cholestrol' : [200, None, 190, 210, None, 180, 220]
})

In [20]:
data

    Age  Blood Pressure  Cholestrol
0  25.0           120.0       200.0
1  30.0           130.0         NaN
2   NaN           110.0       190.0
3  45.0             NaN       210.0
4  50.0           140.0         NaN
5   NaN           145.0       180.0
6  65.0             NaN       220.0

## 1- Handle Missing Values

In [22]:
data['Age'].fillna(data['Age'].mean(),inplace = True)
data['Blood Pressure'].fillna(data['Blood Pressure'].mean(),inplace = True)
data['Cholestrol'].fillna(120,inplace = True)

In [24]:
data

    Age  Blood Pressure  Cholestrol
0  25.0           120.0       200.0
1  30.0           130.0       120.0
2  43.0           110.0       190.0
3  45.0           129.0       210.0
4  50.0           140.0       120.0
5  43.0           145.0       180.0
6  65.0           129.0       220.0

## 2- Feature Scaling

### 1- Standradization -- StandardScaler

In [31]:
from sklearn.preprocessing import StandardScaler

In [40]:
# call StandardScaler
scaler = StandardScaler()

In [ ]:
#apply
#fit --> apply StandardScaler on data
#transform --> transform the normal data into scaled data

In [42]:
data_stad = scaler.fit_transform(data)

In [44]:
data_stad

array([[-1.48389412, -0.83154279,  0.6004693 ],
       [-1.07170131,  0.09239364, -1.50117325],
       [ 0.        , -1.75547923,  0.33776398],
       [ 0.16487712,  0.        ,  0.86317462],
       [ 0.57706993,  1.01633008, -1.50117325],
       [ 0.        ,  1.4782983 ,  0.07505866],
       [ 1.81364836,  0.        ,  1.12587994]])

In [54]:
data_stad = pd.DataFrame(data_stad, columns =data.columns )

In [58]:
data_stad

        Age  Blood Pressure  Cholestrol
0 -1.483894       -0.831543    0.600469
1 -1.071701        0.092394   -1.501173
2  0.000000       -1.755479    0.337764
3  0.164877        0.000000    0.863175
4  0.577070        1.016330   -1.501173
5  0.000000        1.478298    0.075059
6  1.813648        0.000000    1.125880

## 2- Normalization -- Min- Max Scaler

In [71]:
data

    Age  Blood Pressure  Cholestrol
0  25.0           120.0       200.0
1  30.0           130.0       120.0
2  43.0           110.0       190.0
3  45.0           129.0       210.0
4  50.0           140.0       120.0
5  43.0           145.0       180.0
6  65.0           129.0       220.0

In [64]:
from sklearn.preprocessing import MinMaxScaler

In [66]:
# call
scaler_n = MinMaxScaler()

In [73]:
norm_data= scaler_n.fit_transform(data)

In [76]:
norm_data

array([[0.        , 0.28571429, 0.8       ],
       [0.125     , 0.57142857, 0.        ],
       [0.45      , 0.        , 0.7       ],
       [0.5       , 0.54285714, 0.9       ],
       [0.625     , 0.85714286, 0.        ],
       [0.45      , 1.        , 0.6       ],
       [1.        , 0.54285714, 1.        ]])

In [78]:
norm_data = pd.DataFrame(norm_data, columns =data.columns )

In [80]:
norm_data

     Age  Blood Pressure  Cholestrol
0  0.000        0.285714         0.8
1  0.125        0.571429         0.0
2  0.450        0.000000         0.7
3  0.500        0.542857         0.9
4  0.625        0.857143         0.0
5  0.450        1.000000         0.6
6  1.000        0.542857         1.0

# DATA

In [89]:
df = pd.read_csv(r"D:\Work\Route\C07\ONline\Session07\aug_train.csv")

In [91]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,167647,Male,22,1,7.0,1,< 1 Year,No,2630.0,152.0,16,0
1,17163,Male,42,1,28.0,0,1-2 Year,Yes,43327.0,26.0,135,0
2,32023,Female,66,1,33.0,0,1-2 Year,Yes,35841.0,124.0,253,0
3,87447,Female,22,1,33.0,0,< 1 Year,No,27645.0,152.0,69,0
4,501933,Male,28,1,46.0,1,< 1 Year,No,29023.0,152.0,211,0

## Check Nulls

In [94]:
df.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

## Drop Dup

In [97]:
df.drop_duplicates()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,167647,Male,22,1,7.0,1,< 1 Year,No,2630.0,152.0,16,0
1,17163,Male,42,1,28.0,0,1-2 Year,Yes,43327.0,26.0,135,0
2,32023,Female,66,1,33.0,0,1-2 Year,Yes,35841.0,124.0,253,0
3,87447,Female,22,1,33.0,0,< 1 Year,No,27645.0,152.0,69,0
4,501933,Male,28,1,46.0,1,< 1 Year,No,29023.0,152.0,211,0
...,...,...,...,...,...,...,...,...,...,...,...,...
382149,164549,Male,24,1,15.0,0,< 1 Year,Yes,23938.0,152.0,105,0
382150,247064,Male,27,1,28.0,1,< 1 Year,No,336395.0,152.0,144,0
382151,165293,Male,45,1,28.0,0,1-2 Year,Yes,40443.0,26.0,187,0
382152,383241,Female,28,1,28.0,1,< 1 Year,No,25380.0,152.0,208,0
382153,401019,Female,29,1,18.0,1,< 1 Year,No,30396.0,152.0,104,0

## Handling Categorical Data

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382154 entries, 0 to 382153
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    382154 non-null  int64
 1   Gender                382154 non-null  object
 2   Age                   382154 non-null  int64
 3   Driving_License       382154 non-null  int64
 4   Region_Code           382154 non-null  float64
 5   Previously_Insured    382154 non-null  int64
 6   Vehicle_Age           382154 non-null  object
 7   Vehicle_Damage        382154 non-null  object
 8   Annual_Premium        382154 non-null  float64
 9   Policy_Sales_Channel  382154 non-null  float64
 10  Vintage               382154 non-null  int64
 11  Response              382154 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 35.0+ MB

In [99]:
df.Vehicle_Age.unique()

array(['< 1 Year', '1-2 Year', '> 2 Years'], dtype=object)

In [103]:
df.Vehicle_Damage.unique()

array(['No', 'Yes'], dtype=object)

In [105]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

### Encoding

In [117]:
from sklearn.preprocessing import LabelEncoder

In [119]:
#call
le= LabelEncoder()

In [121]:
df.Gender = le.fit_transform(df.Gender)
df.Vehicle_Age =le.fit_transform(df.Vehicle_Age)
df.Vehicle_Damage =le.fit_transform(df.Vehicle_Damage)

In [123]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,167647,1,22,1,7.0,1,1,0,2630.0,152.0,16,0
1,17163,1,42,1,28.0,0,0,1,43327.0,26.0,135,0
2,32023,0,66,1,33.0,0,0,1,35841.0,124.0,253,0
3,87447,0,22,1,33.0,0,1,0,27645.0,152.0,69,0
4,501933,1,28,1,46.0,1,1,0,29023.0,152.0,211,0

In [125]:
df.drop(['id','Region_Code'], axis = 1 , inplace = True)

In [127]:
df.head()

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,22,1,1,1,0,2630.0,152.0,16,0
1,1,42,1,0,0,1,43327.0,26.0,135,0
2,0,66,1,0,0,1,35841.0,124.0,253,0
3,0,22,1,0,1,0,27645.0,152.0,69,0
4,1,28,1,1,1,0,29023.0,152.0,211,0

## DATA Splitting

In [135]:
# split data into Features & Target
features = df.drop('Response',axis = 1)
traget = df['Response']

In [139]:
features.head()

,Gender,Age,Driving_License,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,1,22,1,1,1,0,2630.0,152.0,16
1,1,42,1,0,0,1,43327.0,26.0,135
2,0,66,1,0,0,1,35841.0,124.0,253
3,0,22,1,0,1,0,27645.0,152.0,69
4,1,28,1,1,1,0,29023.0,152.0,211

In [141]:
traget

0         0
1         0
2         0
3         0
4         0
         ..
382149    0
382150    0
382151    0
382152    0
382153    0
Name: Response, Length: 382154, dtype: int64

## Imbalance

In [148]:
traget.value_counts()

Response
0    319553
1     62601
Name: count, dtype: int64

### OverSampling

#### RandomOverSampling

In [159]:
from imblearn.over_sampling import RandomOverSampler

In [163]:
# call 
over_sampler = RandomOverSampler(sampling_strategy = 'minority')

In [165]:
x_over_sample, y_over_sample  = over_sampler.fit_resample(features,traget)

In [167]:
print('Data Before Oversampling')
print(traget.value_counts())
print('Data After Oversampling')
print(y_over_sample.value_counts())

Data Before Oversampling
Response
0    319553
1     62601
Name: count, dtype: int64
Data After Oversampling
Response
0    319553
1    319553
Name: count, dtype: int64

#### SMOTE

In [194]:
from imblearn.over_sampling import SMOTE

In [196]:
sm = SMOTE()

In [198]:
x_sm , y_sm = sm.fit_resample(features,traget)

In [200]:
print('Data Before Oversampling')
print(traget.value_counts())
print('Data After Oversampling--SMOTE')
print(y_sm.value_counts())

Data Before Oversampling
Response
0    319553
1     62601
Name: count, dtype: int64
Data After Oversampling--SMOTE
Response
0    319553
1    319553
Name: count, dtype: int64

### UnderSampling -- RandomUnderSampling

In [184]:
from imblearn.under_sampling import RandomUnderSampler

In [186]:
uder_sampler = RandomUnderSampler(sampling_strategy = 'majority')

In [188]:
x_under_sample , y_under_sample = uder_sampler.fit_resample(features,traget)

In [177]:
print('Data Before undersampling')
print(traget.value_counts())
print('Data After undersampling')
print(y_under_sample.value_counts())

Data Before undersampling
Response
0    319553
1     62601
Name: count, dtype: int64
Data After undersampling
Response
0    62601
1    62601
Name: count, dtype: int64

### BOTH (Over + Under)

In [209]:
over = RandomOverSampler(sampling_strategy = 0.2) 
under = RandomUnderSampler(sampling_strategy = 0.5)

In [211]:
x_both , y_both = over.fit_resample(features,traget)

In [213]:
print('Data Before Both')
print(traget.value_counts())
print('Data After Both')
print(y_both.value_counts())

Data Before Both
Response
0    319553
1     62601
Name: count, dtype: int64
Data After Both
Response
0    319553
1     63910
Name: count, dtype: int64

In [215]:
x_both_final ,y_both_final =under.fit_resample(x_both , y_both)

In [217]:
print('Data Before Both')
print(traget.value_counts())
print('Data After Both')
print(y_both_final.value_counts())

Data Before Both
Response
0    319553
1     62601
Name: count, dtype: int64
Data After Both
Response
0    127820
1     63910
Name: count, dtype: int64

## SPLITING

In [220]:
#split the dataset into train & test
from sklearn.model_selection import train_test_split

In [244]:
x_train,x_test,y_train,y_test = train_test_split(features,traget,test_size = 0.2,random_state= 42)

In [246]:
x_train.shape

(305723, 9)

In [248]:
y_train.shape

(305723,)

In [250]:
x_test.shape

(76431, 9)

In [252]:
y_test.shape

(76431,)